@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body {
  padding: 0;
  margin: 0;
}

.primary-button {
  background-color: black;
  color: white;
  border: 3px solid black;
}

.primary-button:hover {
  background-color: white;
  color: black;
}

.primary-button-active {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.secondary-button:disabled {
  background-color: white;
  color: gray;
  border: 3px solid gray;
}

.secondary-button:disabled:hover {
  background-color: white;
  color: gray;
  border: 3px solid gray;
}

.secondary-button {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.secondary-button:hover {
  background-color: black;
  color: white;
}

.thirdary-button {
  height: fit-content !important;
  background-color: white;
  color: black;
}

.back-button {
  padding: 0;
}

.navlink-disabled {
  border: 3px solid gray;
  color: gray;
  background-color: white;
}

.navlink-disabled:hover {
  cursor: default;
  color: gray;
  background-color: white;
}

.navlink-disabled:hover img,
.navlink-link-disabled:hover img {
  transform: scale(1) !important;
}

.navlink-link-disabled {
  cursor: not-allowed;
  opacity: 0.8;
  background-color: white;
}

.large-box-shadow {
  box-shadow: hsl(206 22% 7% / 35%) 0px 0px 38px -10px,
  hsl(206 22% 7% / 20%) 0px 0px 20px -15px;
}

.text-outline {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

