@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

.primary-button {
  background-color: black;
  color: white;
  border: 3px solid black;
}

.primary-button:hover {
  background-color: white;
  color: black;
}

.primary-button-active {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.secondary-button:disabled {
  background-color: white;
  color: gray;
  border: 3px solid gray;
}

.secondary-button:disabled:hover {
  background-color: white;
  color: gray;
  border: 3px solid gray;
}

.secondary-button {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.secondary-button:hover {
  background-color: black;
  color: white;
}

.thirdary-button {
  height: fit-content !important;
  background-color: white;
  color: black;
}

.back-button {
  padding: 0;
}

.navlink-disabled {
  border: 3px solid gray;
  color: gray;
}

.navlink-disabled:hover {
  cursor: default;
  color: gray;
  background-color: white;
}

.navlink-disabled:hover img {
  transform: scale(1) !important;
}

.large-box-shadow {
  box-shadow: hsl(206 22% 7% / 35%) 0px 0px 38px -10px,
  hsl(206 22% 7% / 20%) 0px 0px 20px -15px;
}

